<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brain Tumor Classification Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/index1.css">


    
</head>
<body>
    <div class="hero">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <h1>Welcome to the Brain Tumor Classification Portal</h1>
    <div class="link-container">
        <a href="{{ url_for('sign_up') }}">Sign Up</a> | <a href="{{ url_for('sign_in') }}">Sign In</a>
    </div>
</body>
</html>