<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brain Tumor Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Brain Tumor Detection</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Predict Tumor Type</button>
        </form>

        {% if prediction %}
            <div class="result">
                <h2>Prediction:</h2>
                <p>{{ prediction }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
