<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('predict.static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Brain Tumor Detection</h1>

        <div class="predict-layout">
            <!-- Image Preview -->
            <div class="section-box">
                {% if img_url %}
                    <img src="{{ img_url }}" alt="Uploaded Image" class="preview-img">
                    <p class="image-status">Image Uploaded!</p>
                {% else %}
                    <p class="image-status">No image uploaded.</p>
                {% endif %}
            </div>

            <!-- Upload Form -->
            <div class="section-box center-box">
                <form action="{{ url_for('predict.index') }}" method="post" enctype="multipart/form-data">
                    <label class="custom-upload">
                        Choose Image
                        <input type="file" name="file" accept=".jpg" id="file-input" required>
                    </label>
                    <p id="file-name" style="display: none;"></p>

                    <div class="button-group">
                        <button type="button" id="upload-button" class="hidden">Upload</button>
                        <button type="submit" id="predict-button" class="hidden">Predict</button>
                        <button type="reset" id="reset-button" class="reset-button hidden">Reset</button>
                    </div>
                </form>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-message">
                            {% for category, message in messages %}
                                <p class="{{ category }}">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

               
            </div>

            <!-- Prediction Result -->
            <div class="section-box">
                {% if prediction %}
                    <div class="result">
                        <h2>Prediction:</h2>
                        <p>{{ prediction }}</p>
                    </div>
                {% else %}
                    <p>Prediction result will appear here.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('predict.static', filename='script.js') }}"></script>
</body>
</html>
